 /* Grid */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        'header'
        'nav'
        'main';
} 

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

.main-header {
    grid-area: dashboard;
}

#alert {
    grid-area: alert;
}

.traffic {
    grid-area: traffic;
}

.daily {
    grid-area: daily;
}

.mobile {
    grid-area: mobile; 
}

.social-section {
    grid-area: social;
}

.members {
    grid-area: members;
}

.recent {
    grid-area: recent;
}

.message {
    grid-area: message;
}

.settings {
    grid-area: settings;
}





@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "nav main"
    }

    main {
        display: grid;
        grid-template-columns: 50%;
        grid-template-rows: auto;
        grid-template-areas:
        "dashboard dashboard"
        "alert alert"
        "traffic traffic"
        "daily mobile"
        "social social"
        "members recent"
        "message settings"
    }

}






